.pm {
  /*border: 1px solid #EEEEEE;*/
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.4);
  background-color: #f7f7f7;
  margin: 5px 0px;
}

/*--------------Title Bar--------------------*/
.pm .title {
  background-color: #2A388F;
  overflow: hidden;
  height: 30px;
}

.pm .titleright {
  float: right;
  position: relative;
  height: 100%;
}

.pm .titleleft {
  display: inline-block;
  height: 100%;
}

.pm .tbitem {
  color: white;
  padding: 0px 15px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.pm .badgecontainer {
  padding: 0px 5px;
}

.pm .titlecollapse:hover {
  background-color: #2A388F;
}

.headericon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAXUlEQVR4AWMAgVGwjkGKNA3/GT4wZDAwkqABDA8zaBKtAQp/MjQwsBGnAQGvMVgTpwEB/zFMZ+AjoAEDPmUIpKGGfwzTGPho5OmfDPUMbKREnAYpSSOdgZGSxDcKADdXTK1stp++AAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 15px;
  display: inline-block;
  top: -2px;
  height: 24px;
  vertical-align: middle;
  transition: transform 0.4s;
  transform: rotate(90deg);
}

.headericoncollapsed {
  transform: rotate(0deg);
}

.pm .badges {
  text-align: center;
}

.badgerunning {
  background-color: #42A5F5;
}

.badgecompleted {
  background-color: #20B520;
}

.badgefailed {
  background-color: #DB3636;
}

.badgecompleted, .badgefailed, .badgerunning {
  font-size: 80%;
  padding: 5px 8px;
  color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.36);
  white-space: nowrap;
  font-weight: bold;
  display: none;
  margin: 0 2px;
}

.badgeexecutor, .badgeexecutorcores {
  font-size: 80%;
  padding: 5px 8px;
  color: black;
  border-radius: 2px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.36);
  white-space: nowrap;
  font-weight: bold;
  margin: 0px 2px;
  background-color: #b4b4b4;
}

.uibuttondisabled {
  color: #b2b2b2;
}

.pm .cancel:active {
  font: larger;
}

.pm .tabbuttonicon {
  display: inline-block;
  position: relative;
  top: -2px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.pm .sparkuitabbuttonicon {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAm0lEQVRIS+2UQQ4BQRRE6+EK2MydxB24k7iFxJUsZpyBkhHfivTC72ESvexFvanXk0KVD5XzNQzA9lrSTtIiqdFZ0hY43BvYbhPD4xs7YBkA97dAijLbz7w/4OU/8VBkYFJT0fgBV2BaU9H4ARdgVlPRsIBO0jxpSSPmBDShaCVpn7io/TpvgGNxPWMZ37UrLfD3AZ++S7HBzwNuaU6HGdpmeQAAAAAASUVORK5CYII=')
}

.pm .taskviewtabbuttonicon {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAn0lEQVRIS+2V7Q3CMBBDn4fgYyvEEOyE2AIxVdshjCoRpFZNqS6kCET++56dRGdR+ajyfNYF2D4CZ2AbTNYBJ0nXpB8ksN0UDE8zW0m7HMBB5wOZpKfxcYLPApIz27NGwgm+DzB2/PYEvw/IXdniX/Tqiv6A8Fpa/AZRwhygBTbRwQ9dI2mfW9cH4FLQCX2f9IVzmwQUOp+Ur9vJNRLcAY3+ohmMpyfNAAAAAElFTkSuQmCC');
}

.pm .jobtabbuttonicon {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAVElEQVRIS2NkoDFgpLH5DKMWEAxhjCD6////f2RdjIyMjOhihEwF6YGpGbUAa2jhDSJC4Uuq/GgckB4HNM8HpEYiIfWjkTwSI5lQqiBVfrTKJBhiAIjIYBm1LAUbAAAAAElFTkSuQmCC');
}

.pm .stopbuttonicon {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAADxQTFRFAAAA////////////////////////////////////////////////7re37G5u////////////////////GhEkPwAAABR0Uk5TAAZWptrzU93/Ao6N3v//6gWl2VLCvRpMAAAAjklEQVR4nJ2RWQ7DIAwFg8HhkTRsvf9dy5KNVFCp7weYQQbMNP0bQVIxK0mi5bPGHj3fsFlwy2JO0XBgPevgkb2aeKX5Zl1Gzm75HF8EZWJtNi4NeUVFyLo1GVc1EIpQOMzBEYtgXKZy8Fh0S3UP715X6M4Dv1vy/tXEyawNv9re/agUTyEyx0B+8P/jfABktQyTrSniFAAAAABJRU5ErkJggg==');
}

.pm .closebuttonicon {
  background-size: 20px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA+UlEQVRIS+2U2Q3CQBBDn4uAIjiKAJqgCOgFuqCKpAiOIqCIQYOyCK32ygcSH+RzM2uPvZ4RX/70ZXz+BFWHkxaZ2RI4AFtJjxKKmU2BE7CXdI1rcwQdsAIuwDpHMoD3wAzoJG1aCSZ+AVjkSCLwM7BJNZJNkZk5iXc3B1z6KgC0gruaYkwTJOvBgmBLtvNgVXUOhm7drqDE77jnVfCqgtBFZIkfN4H/BkHiQd2ibLqaYpqx5mXL8K8Y4U+SUkx9QpNpKUW4SUFLzlMRlnRvJQiropiWKMK9pDAnb57cLvJHPI5cdjtJtyYF1R08oqA6ySOwkqV/gqqDT9IvhBlmOjljAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-position: center;
}

.pm .tabbutton {
  display: inline-block;
  position: relative;
  height: 100%;
  font-size: small;
  cursor: pointer;
  cursor: hand;
  padding: 5px 18px;
}

.pm .closebutton {
  padding: 5px 5px;
  border-left: 1px solid #c25e00
}

.pm .tabbuttons {
  margin: 0px 0px;
  font-size: 0;
  /* border: 0 1px solid #c25e00; */
}

.pm .tabbutton:hover {
  background-color: #2A388F;
}

.pm .cancelbutton:hover {
  background-color: #2A388F;
}

.pm .tabbuttonactive {
  /*color: white;*/
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.46) inset;
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
  border: 0;
}

/*--------------Content--------------------*/
.pm .content {
  /*padding: 5px;*/
  /*resize: vertical;*/
  /*overflow: hidden;*/
  float: clear;
}

.pm .tabcontent {
  display: none;
}

.jobtablecontent {
  /* display: block; */
}

.pm .tabcontentactive {
  display: initial;
}

.sparkuiframe {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
}

/*-------------Tooltip Popup---------------*/
.ui-tooltip {
  background: #666;
  color: white;
  border: none;
  padding: 0;
  opacity: 1;
}

.ui-tooltip-content {
  position: relative;
  padding: 5px;
}

.ui-tooltip-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
}

.tpright .ui-tooltip-content::after {
  top: 5px;
  left: -10px;
  border-color: transparent #666;
  border-width: 10px 10px 10px 0;
}

.tpleft .ui-tooltip-content::after {
  top: 5px;
  right: -10px;
  border-color: transparent #666;
  border-width: 10px 0 10px 10px;
}

.tptop .ui-tooltip-content::after {
  bottom: -10px;
  left: 72px;
  border-color: #666 transparent;
  border-width: 10px 10px 0;
}

.tpbottom .ui-tooltip-content::after {
  top: -10px;
  left: 72px;
  border-color: #666 transparent;
  border-width: 0 10px 10px;
}

.sparkui-dialog {
  padding: 0;
  box-shadow: 0px 0px 6px 0px rgba(128, 128, 128, 0.83);
}

.sparkui-dialog .ui-corner-all {
  border-radius: 0px;
}

.sparkui-dialog .ui-dialog-content.ui-widget-content {
  padding: 0;
}

.sparkui-dialog .ui-widget-header {
  border: 1px solid rgb(196,228,255);
  background: #f37600;
  color: #000;
  font-weight: bold;
  text-align: center;
}

.pm .taskcontainer {
  user-select: none;
}